@charset "utf-8";

/*==================================================
ボンッ
===================================*/

/* 拡大 */

.zoomIn{
    animation-name:zoomInAnime;
    animation-duration:0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode:forwards;
  }
  
  @keyframes zoomInAnime{
    /* from {
    transform: scale(0.0);
    }
  
    to {
        transform: scale(1);
    } */
    0% {
        transform: scale(0);
      }
      90% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
  }


/* https://coco-factory.jp/ugokuweb/move02/4-10/ */
/* アニメーションスタートの遅延時間を決めるCSS*/

.delay-time02{
    transform: scale(0.0);
animation-delay: 0.2s;
}

.delay-time04{
    transform: scale(0.0);
animation-delay: 0.4s;
}

.delay-time06{
    transform: scale(0.0);
animation-delay: 0.6s;
}
.delay-time08{
    transform: scale(0.0);
animation-delay: 0.6s;
}
/*==================================================
スタート時は要素自体を透過0にするためのopacity:0;を指定する
===================================*/

.box{
	opacity: 0;
}

/*==================================================
動き自体の指定：今回は「ふわっ」
===================================*/

.fadeUp {
animation-name:fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}
@keyframes fadeUpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}


/* アニメーション定義 */
@keyframes expandBorders {
    from {
        border-top: none;
        border-right: 0; /* 初期状態ではborder-rightも非表示にする */
      }
      to {
        border-top: 2px solid #000;
        border-right: 2px solid #000; /* 左から右への伸びを示す */
      }
    }
  
  /* アニメーションの適用 */
.headerBorder {
    animation: expandBorders 0.5s ease-out forwards;
  }

  .component {
    width: 200px;
    height: 100px;
    border: 2px solid #000;
    border-top: none; /* 初期状態はborder-topを非表示にする */
    animation: expandBorder 0.5s forwards; /* アニメーションの指定 */
  }