html{
    scroll-behavior: smooth; 
    /* スムーススクロール */
  }
  code {
    font-family:Work Sans, Noto Sans JP, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  body{
    background: #85FFE9;
    transition: 1s;
  }

  header{
    transition: 0s;
  }